.title {
    margin: 0;
    margin-top: 40px;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    color: #00C77F;
}

.intro {
    margin: 0;
    font-size: 50px;
    font-weight: 600;
}

.mockup {
    margin-top: 36px;
    display: flex;
    width: 1619px;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}
